// Mixins
@import './mixins/bp';
@import './mixins/text';
@import './mixins/spacing';
// Settings
@import './settings/variables';
@import './settings/reset';
@import './settings/fonts';
@import './settings/general';
// Components
@import './components/profile';
@import './components/hero-area';
@import './components/scroll-top';
@import './components/contact-box';
@import './components/project-view';
@import './components/page-section';
@import './components/custom-footer';
@import './components/project-filter';
@import './components/project-overlay';
// Animations
@import './animations/list';
@import './animations/slide';
@import './animations/appear';
@import './animations/bounce';
@import './animations/pop-up';

*, *:before, *.after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(ellipse at center, $color-background, $color-background-dark);
}

#app {
    @include text(p2);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    color: $color-font-light;
    font-family: $font-default, Helvetica, Arial, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
}
