.contact-box {
    @include spacing(margin, s, top);

    display: flex;
    flex-flow: column wrap;

    @include bp(l) {
        flex-flow: row wrap;
        align-items: flex-start;
    }
}

.contact-box__scroll-top {
    @include spacing(margin, l, top);

    display: flex;
    justify-content: center;
    order: 3;

    .scroll-top {
        align-self: center;
    }
}

.contact-box__form {
    @include spacing(margin, l, top);

    order: 2;
    flex: 3;
    text-align: left;

    @include bp(m) {
        margin-top: 0;
    }
    @include bp(l) {
        order: 1;
    }
}

.contact-box__form-submit {
    @include spacing(padding, m, left right);
    @include spacing(padding, s, top bottom);
    @include spacing(margin, m, top bottom);
    @include text(p3);

    width: 100%;
    cursor: pointer;
    color: var(--font-contrast);
    background: var(--accent);
    border-radius: $border-radius-default;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: background $transition-regular;

    @include bp(m) {
        width: auto;
        margin-top: 0;

        &:hover {
            background: var(--primary-light);
        }
    }

    &:disabled {
        cursor: not-allowed;
        background: var(--grey);
    }
}

.contact-box__row {
    display: flex;
    flex-flow: column wrap;

    @include bp(m) {
        flex-flow: row wrap;
    }
}

.contact-box__input {
    @include spacing(margin, s, bottom);

    flex: 1;

    label {
        @include text(p2);

        color: var(--font-dark);
    }

    input, textarea {
        @include spacing(margin, xs, top);
        @include text(p3);

        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: $border-radius-default;
        color: var(--font-dark);
        background: var(--background-darkest);
    }

    textarea {
        min-height: 200px;
        resize: vertical;
    }

    @include bp(m) {
        margin-right: 20px;
    }
}

.contact-box__details {
    @include spacing(padding, m);

    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    order: 1;
    flex: 1;
    text-align: center;
    border-radius: $border-radius-default;
    background: none;


    h3 {
        @include spacing(padding, s, bottom);

        color: var(--font-dark);
    }

    @include bp(l) {
        order: 2;
        margin-top: 35px;

        &:after {
            left: 0;
            width: 1px;
            height: 100%;
            transform: none;
        }
    }
}

.contact-box__details-info {
    @include spacing(margin, xs, bottom);
    @include text(p3);

    width: 60%;
    color: var(--font-dark);

    @include bp(m) {
        width: 75%;
    }
}

.contact-box__details-item {
    @include spacing(margin, s, top);
    @include text(p3);

    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    svg {
        color: var(--font-dark);
        opacity: 0.5;
    }

    span, a {
        @include spacing(margin, xs, right);

        text-decoration: none;
        color: var(--accent);

        span {
            opacity: 0.75;
            color: var(--font-dark);
        }
    }
}
