.hero-area {
    @include spacing(padding, xl, left right);

    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;

    width: 100%;
    height: 100vh;

    text-align: center;
    color: var(--font-light);
    // clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 96%, 0 100%, 0 0);
    clip-path: polygon(0 0, 50% 4%, 100% 0, 100% 50%, 100% 100%, 50% 96%, 0 100%, 0 50%);
    background: linear-gradient(50deg, var(--primary), var(--primary-light), var(--accent));
}

.hero-area__title {
    font-weight: 600;
    text-transform: uppercase;
}

.hero-area__info {
    @include text(p3);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    svg {
        @include spacing(margin, xs, left right);
        opacity: 0.75;
    }
}

.hero-area__icon {
    @include spacing(margin, s, top bottom);
    @include text(h2);
}

.hero-area__divider {
    @include spacing(margin, m, bottom);

    width: 100px;
    height: 2px;
    background: var(--font-light);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15);
}

.hero-area__anchor-list {
    @include spacing(margin, xs, top);
    @include text(h3);

    display: flex;
    flex-flow: row nowrap;
}

.hero-area__anchor-list-item {
    @include spacing(padding, xs, left right bottom);
    @include text(p2);

    color: var(--font-light);
    transition: color $transition-regular, opacity $transition-regular;

    &:after {
        @include spacing(margin, xs, left right);

        content: '|';
        color: var(--font-light);
    }

    &:last-of-type:after {
        display: none;
    }
}

.hero-area__jump-caret {
    @include spacing(padding, s);
    @include text(h2);

    position: absolute;
    bottom: 60px;

    opacity: 0.75;
    cursor: pointer;
    color: var(--font-light);
    transform: translateX(-50%);
    animation: 2s bounce infinite;
    line-height: 20px !important;

    &:hover {
        color: var(--font-light);
        animation-play-state: paused;
    }
}
