.hero-area {
    @include spacing(padding, xl, left right);

    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    text-align: center;
    color: $color-white;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 96%, 0 100%, 0 0);
    background: linear-gradient(50deg, lighten($color-primary, 15%), lighten($color-primary, 25%), $color-accent);
}

.hero-area__icon {
    @include spacing(margin, s, top bottom);
    @include text(h2);
}

.hero-area__divider {
    @include spacing(margin, m, bottom);

    width: 100px;
    height: 2px;
    background: $color-white;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15);
}

.hero-area__anchor-list {
    @include spacing(margin, s, top);
    @include text(h3);

    display: flex;
    flex-flow: row nowrap;
}

.hero-area__anchor-list-item {
    @include spacing(padding, xs, left right bottom);

    cursor: pointer;
    color: darken($color-white, 5%);
    transition: color $transition-regular, opacity $transition-regular;

    &:after {
        @include spacing(margin, xs, left right);

        content: '|';
        color: darken($color-white, 5%);
    }

    &:last-of-type:after {
        display: none;
    }

    @include bp(m) {
        &:hover {
            color: $color-accent
        }
    }
}

.hero-area__jump-caret {
    @include spacing(padding, s);
    @include text(h2);

    position: absolute;
    bottom: 60px;

    opacity: 0.75;
    color: $color-white;
    transform: translateX(-50%);
    animation: 2s bounce infinite;
    line-height: 20px !important;

    &:hover {
        animation-play-state: paused;
    }
}
