.page-section {
    @include spacing(padding, l, top bottom);
    @include spacing(padding, l, left right);

    width: 100%;
    max-width: 1200px;
    min-height: 50vh;
    text-align: center;
    border-radius: $border-radius-default;

    @include bp(m) {
        text-align: left;
    }
}

.page-section__title {
    @include spacing(margin, l, top);
}

.page-section--grey {
    background: $color-background-dark;
}
