.page-section {
    @include spacing(padding, l);

    width: 100%;
    min-height: 50vh;
    text-align: center;
    border-radius: $border-radius-default;

    @include bp(m) {
        text-align: left;
    }

    @include bp(l) {
        max-width: 80vw;
    }

    @include bp(xl) {
        max-width: 1200px;
    }
}

.page-section__title {
    @include spacing(margin, l, top);
}

.page-section--grey {
    background: $color-background-dark;
}
