.section-container {
    width: 100%;
    height: 100%;
}

.page-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    text-align: center;
    border-radius: $border-radius-default;
    align-items: center;
    @include bp(m) {
        text-align: left;
    }
}

.page-section--v-align-center {
    align-items: center;
}

.page-section--has-border-top {
    border-top: 3px solid var(--background);
}

.page-section--has-border-bottom {
    border-bottom: 3px solid var(--background);
}

.page-section--has-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.page-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    opacity: 0.9;
    background: var(--background-dark);

    @include bp(m) {
        opacity: 0.8;
    }
}

.page-section--active {
    .contact-box {
        .scroll-top {
            opacity: 1;
        }
    }
    .theme-switch {
        //opacity: 1;
    }
}

.page-section--edge {
    clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 50% 100%, 0 100%, 0 3%);

}

.page-section__content {
    @include spacing(padding, l);
    @include spacing(padding, huge, top bottom);

    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @include bp(l) {
        max-width: 80vw;
    }

    @include bp(xl) {
        max-width: 1200px;
    }
}

.page-section__content-title {
    @include text(h2);

    font-weight: 300;
}

.page-section__content-title--centered {
    text-align: center;
}

.page-section__content-subtitle {
    @include spacing(margin, subheadline, bottom);
    @include text(p2);

    align-self: center;
    max-width: 90%;
    opacity: 0.75;
    font-weight: 300;
    text-align: center;
    color: var(--font-dark);

    @include bp(m) {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
    }

    @include bp(l) {
        align-self: auto;
    }
}

.page-section__content-title--no-margin {
    margin: 0;
}

.page-section--grey {
    background: var(--background-dark);
}
