.project-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(50deg, lighten($color-primary, 15%), lighten($color-primary, 25%), $color-accent);
}

.project-overlay__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100%;

    overflow: auto;
    background: rgba($color-white, 0.75);
    clip-path: polygon(0 0, 50% 4%, 100% 0, 100% 50%, 100% 100%, 50% 96%, 0 100%, 0 50%);
}

.project-overlay__content-scroll-container {
    @include spacing(padding, l, top left right);

    width: 100%;
    height: 100%;
    overflow: auto;

    @include bp(m) {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

.project-overlay__content-description {
    @include text(p2);

    width: 100%;
    text-align: center;

    @include bp(l) {
        max-width: 70vw;
    }

    @include bp(xl) {
        max-width: 1000px;
    }
}

.project-overlay__content-slider-container {
    @include spacing(margin, l, top);

    width: 100%;
    height: 140px;
    overflow: hidden;
    margin-bottom: 60px;
    border-radius: $border-radius-default;

    @include bp(m) {
        height: 180px;
        margin-bottom: 42px;
    }

    @include bp(l) {
        max-width: 65vw;
    }

    @include bp(xl) {
        max-width: 900px;
    }

    .swiper-slide {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:after {
            position: absolute;
            right: 0;
            top: 0;

            content: '';
            display: block;
            width: 2px;
            height: 100%;
            background: $color-primary;

            @include bp(m) {
                width: 3px;
                background: linear-gradient(50deg, lighten($color-primary, 15%), $color-accent);
            }
        }

        &:last-of-type:after {
            display: none;
        }
    }
}

.project-overlay__content-close {
    @include spacing(padding, s);
    @include text(h2);

    display: flex;
    justify-content: flex-end;

    cursor: pointer;
    margin-left: auto;
    color: $color-accent;
    transition: color $transition-regular;

    @include bp(m) {
        &:hover {
            color: darken($color-accent, 20%);
        }
    }
}
