.list-leave {
    position: absolute;
    z-index: -1;
}

.list-leave-active {
    opacity: 0;
}

.list-enter {
    transform: scale(0.5);
    opacity: 0;
}

.list-move {
    transition: transform $transition-regular;
}
