*, *:before, *.after {
    box-sizing: border-box;
}

body {
    margin: 0;
    transition: background 2s;
    background: radial-gradient(ellipse at center, var(--background), var(--background-dark));
}

#app {
    @include text(p2);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    color: var(--font-color-dark);
    font-family: $font-default, Helvetica, Arial, sans-serif;
}


.transition-body {
    p, span, h1, h2, h3, svg {
        transition: color $transition-long, background $transition-long !important;
    }
    * {
        transition: background $transition-regular;
    }
}

h1, h2, h3 {
    user-select: none;
}

h1 {
    @include text(h1);
    font-weight: 100;
}

h2 {
    @include spacing(margin, headline, bottom);
    @include text(h2);

    position: relative;
    text-align: center;
    color: var(--font-dark);

    &:after {
        position: absolute;
        left: 50%;
        bottom: -20px;

        content: '';
        display: block;
        width: 60px;
        height: 2px;
        transform: translateX(-50%);
        background: linear-gradient(50deg, var(--primary-light), var(--accent));

        @include bp(m) {
            width: 75px;
        }
    }

    @include bp(l) {
        text-align: left;

        &:after {
            left: 0;
            transform: none;
        }
    }
}

h3 {
    @include text(h3);

    span {
        color: var(--accent);
        font-weight: 900;
    }
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: color $transition-fast;

    &:hover {
        color: var(--accent);
    }
}

hr {
    @include spacing(padding, xs);

    width: 100%;
    margin: 0;
    opacity: 0.5;
    background: linear-gradient(50deg, var(--primary), var(--primary-light), var(--accent));
}

::selection {
    color: var(--font-contrast);
    background: var(--primary);
}

input, textarea {
    // overwrite autofill styles
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s, border-color $transition-fast;
        -webkit-text-fill-color: var(--font-dark) !important;
        background: none !important;
        -webkit-box-shadow: 0 0 0px 1000px var(--background-dark) inset;
    }
}

.dark input, .dark textarea {
    // overwrite autofill styles
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        background: var(--background-dark);
    }
}

.swiper-pagination {
    @include spacing(margin, xs, bottom);

    width: 100%;
    top: auto !important;
    bottom: 0 !important;

    .swiper-pagination-bullet {
        @include spacing(margin, xs, left right);

        width: 5px;
        height: 5px;
        background: var(--accent);
        border-radius: $border-radius-default !important;
        transition: opacity $transition-fast, transform, $transition-fast;

        &.swiper-pagination-bullet-active {
            transform: scale(1.1);
        }

        @include bp(m) {
            width: 7px;
            height: 7px;
        }
    }
}
