h1, h2, h3 {
    user-select: none;
}

h1 {
    @include text(h1);
    font-weight: 100;
}

h2 {
    @include spacing(margin, l, bottom);
    @include text(h2);

    position: relative;
    text-align: center;
    color: var(--font-dark);

    &:after {
        position: absolute;
        left: 50%;
        bottom: -10px;

        content: '';
        display: block;
        width: 70px;
        height: 2px;
        transform: translateX(-50%);
        background: linear-gradient(50deg, var(--primary-light), var(--accent));

        @include bp(m) {
            width: 100px;
        }
    }

    @include bp(l) {
        text-align: left;

        &:after {
            left: 0;
            bottom: -10px;
            transform: none;
        }
    }
}

h3 {
    @include text(h3);

    span {
        color: var(--accent);
        font-weight: 900;
    }
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: color $transition-fast;

    &:hover {
        color: var(--accent);
    }
}

hr {
    @include spacing(padding, xs);

    width: 100%;
    margin: 0;
    opacity: 0.5;
    background: linear-gradient(50deg, var(--primary), var(--primary-light), var(--accent));
}

::selection {
    color: var(--font-contrast);
    background: var(--primary);
}
